body {
    padding: 0;
    margin: 0;
    background: #333333;
    color: #eee;
    font-family: 'Lato', sans-serif;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 100px;
}

.navbar {
    z-index: 1000;
    position: fixed;
    // 導覽列用fixed較好
    height: 65px;
    width: 100%;
    // box-shadow: 1px 1px 2px #d7ccc8;
    color: #eee;
    &__background {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.65);
    }
    &__nav {
        height: 65px;
        display: flex;
    }
    &__title {
        font-size: 30px;
        font-weight: 300;
        display: inline-block;
        text-align: left;
        align-self: center;
        &:link,
        &:visited {
            color: inherit;
            text-decoration: none;
        }
    }
    &__list {
        display: inline-block;
        align-self: center;
        margin-left: auto;
    }
    &__item {
        font-size: 20px;
        font-weight: 300;
        display: inline-block;
        &:not(:last-child) {
            margin-right: 20px;
        }
        &:link,
        &:visited {
            color: inherit;
            text-decoration: none;
        }
    }
}

.header {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    background-image: url(../img/bg1.jpg);
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
    }
    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Lato', sans-serif;
        font-size: 70px;
        font-weight: 300;
        white-space: nowrap;
        transition: font-size 0.2s;
        &:hover {
            font-size: 73px;
        }
    }
}

.section {
    position: relative; //for anchoring
    &__title {
        padding: 30px 0;
        background-color: #d7ccc8;
        color: #333333;
        font-size: 35px;
    }
    &__body {
        padding: 30px 0;
        & a {
            &:link,
            &:visited {
                color: inherit;
                text-decoration: none;
            }
        }
    }
}

.anchor {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    top: -65px;
    left: 0;
    visibility: hidden;
}